@model IList<ELearnApplication.Models.UserAccount>
@{
    if(ViewBag.Title == "StaffList")
    {
        ViewData["Title"] = "StaffList";
    }
    else
    {
        ViewData["Title"] = "StudentList";
    }

}


<div class="container">
     <div class="row row-cols-1 row-cols-md-3 g-4">
         @foreach (var obj in Model)
         {
             <div class="col">
                 <div class="card" style="width:18rem">
                     <ul class="list-group list-group-flush">
                         <li class="list-group-item">@obj.FirstName @obj.LastName</li>
                         <li class="list-group-item">@obj.Email</li>
                         <li class="list-group-item">@obj.Phone</li>
                     </ul>
                 </div>
             </div>
           }
            
      </div>
</div>
 
     
         
