@{ 
    ViewData["Title"] = "About";
}
<div class="card w-100">
    <div class="card-body">
        <h5>About us</h5>
        <p class="card-text">
            The National Programme on Technology Enhanced Learning (NPTEL) was initiated by seven Indian Institutes of Technology (Bombay, Delhi, Kanpur, Kharagpur, Madras, Guwahati and Roorkee) along with the Indian Institute of Science, Bangalore in 2003. Five core disciplines were identified, namely, civil engineering, computer science and engineering, electrical engineering, electronics and communication engineering and mechanical engineering and 235 courses in web/video format were developed in this phase.
        </p>
        <br />
        <p class="card-text">
            The main goal of NPTEL Phase II (2009-14) was to build on the engineering and core science courses launched previously in NPTEL Phase I. An additional 600 web and video courses were created in all major branches of engineering, physical sciences at the undergraduate and postgraduate levels and management courses at the postgraduate level. Several improvements such as indexing of all video and web courses and keyword search were implemented.
        </p>
    </div>
</div>